<template>
<div>
   

<header>
  <label for="check">
  <i class="fas fa-bars" id="sidebar_btn"></i>
  </label>

      <div class="logo_top">
        <a class="top_img">
          <img src= "../assets/img/logo.png" width="250" height="100" alt="logo">
        </a>
      </div>
<!-- logout btn -->
<div class="right_area">
<a href="#" class="logout_btn">Logout</a>
</div>
</header>

</div>
</template>

<script>
export default {
    name: "NavBar"
}
</script>

<style scoped>

</style>