<template>
<div>
  <!-- Side bar toggle -->
  <input type="checkbox" id="check">
<!-- Sidebar Options -->
<div class="sidebar">
  <router-link to="/Dashboard" class="">
  <i class="fas fa-desktop"></i><span>Dashboard</span>
  </router-link>

  <router-link to="/Patron" class="">
  <i class="fas fa-users"></i><span>Patron Management</span>
  </router-link>

  <router-link to="/Book" class="">
  <i class="fas fa-book"></i><span>Book Management</span>
  </router-link>

  <router-link to="/Settings" class="">
  <i class="fas fa-cogs"></i><span>Settings</span>
  </router-link>

</div>
<!-- end Sidebar Options -->   
</div>
</template>

<script>
export default {
    name: "Sidebar"
}
</script>

<style scoped>

</style>