

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --green-dark : #004807;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}






*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.footer{
	width: 99vw;
	display: block;
	overflow: hidden;
	padding: 30px 0;
	box-sizing: border-box;
	background: black;
}

.inner_footer{
	display: : block;
	margin: 0 auto;
	width: 1200px;
	height: 100%;
}

.inner_footer .append{
	width: 20%;
	float: right;
	height: 100%;
	display: block;
}

.inner_footer .logo_container img{
	width: 170px;
	height: auto;

}

.inner_footer .footer_third{
	width: calc(21.6666666667% - 20px);
	margin-right: 10px;
	float: left;
	height: 100%;
}

.inner_footer .footer_third: last-child{
	margin-right: 0;
}

.inner_footer .footer_third h1{
	font-family: 'sans-serif';
	font-size: 22px;
	color: #004807;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.inner_footer .footer_third a{
	font-family: 'Consolas';
	font-size: 16px;
	color: white;
	display: block;
	font-weight: 200px;
	width: 100%;
	padding-bottom: 5px;
}

.inner_footer .footer_third li{
	display: inline-block;
	padding: 0 5px;
	font-size: 20px;

}

.inner_footer .footer_third span{
	font-family: 'sans-serif';
	font-size: 14px;
	color: white;
	display: block;
	font-weight: 200px;
	width: 100%;
	padding-bottom: 20px;
}

@media(max-width: 600px){
	.footer .inner_footer{
		width: 90%;
	}

	.inner_footer .logo_container,
	.inner_footer .footer_third{
		width: 100%;
		margin-bottom: 30px;
		
	}





}

