body{
    background: #19B3D3;
    background: -webkit-linear-gradient(to right, #3281a0, #2d4063);
    background: linear-gradient(to right, #3281a0, #19B3D3);
    margin: 0;
    padding: 0;
    font-family: "Consolas", sans-serif;
}

header{
    position: sticky;
    background: #17222c;
    padding: 25px;
    margin-top: -60px;
    width: 100%;
    height: 90px;
}

.logo_top .top_img img{
    width: 300px;
    height: 110px;
    margin-top: -60px;
    margin-left: 9px;
    float: left;
}

.logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -20px;
    margin-right: 30px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover{
    background: #00f7ff;

}

.sidebar{
    background: #262c33;
    margin-top: -90px;
    padding-top: 150px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 110%;
    transition: 0.5s;
    transition-property: left;
}


.sidebar a{
    color: #fff;
    font-family: "Consolas", sans-serif;
    display: block;
    width: 100%;
    line-height: 70px;
    text-decoration: none;
    font-weight: 1000;
    padding-left: 40px;
    box-sizing: border-box;
    transition-property: background;
    text-align: left;

}

.sidebar a:hover{
    background: #45beee;
}

.sidebar i{
    padding-right: 20px;

}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 30px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #00f7ff;
}

#check:checked ~ .sidebar{
    left: -191px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content{
    margin-left: 250px;

}

#checked:checked ~ .container{
    margin-left: 60px;
}

#check{
    display: none;

}

.container {
    margin-top: 70px;
}

.container_d {
    margin-top: 50px;
}




